<ion-view view-title="Alerter">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableAlert">
        ALERTE DE GROS PORC
        
    </ion-toggle>
    <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Plaque">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Pays">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Commentaires"></textarea>
	  </label>
	</div>
    </ion-list>

	<button class="button bouton_alerter">
		Envoyer
	</button>

  </ion-content>
</ion-view>