<ion-view view-title="Alerter">
  <ion-content>
    <ion-list>
	    <div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="Tapez ici la plaque d'immatriculation">
		  </label>
		  <!--<label class="item item-input">
		    <input type="text" placeholder="Pays">
		  </label> -->
		</div>
    </ion-list>

	<div class="list_icons_alert">

	    <div class="conteneur_icon_alert" tableindex="1"><img class="icon_alert" ng-src="/img/Icon_Double_File.jpg"></img>
	    </div>
		<img class="icon_alert" ng-src="/img/Icon_Fourriere.jpg"></img>
		<img class="icon_alert" ng-src="/img/Icon_no-parking.jpg"></img>
		<img class="icon_alert" ng-src="/img/Icon_Phares.jpg"></img>
		<img class="icon_alert" ng-src="/img/Icon_Portes_Ouvertes.jpg"></img>
		<img class="icon_alert" ng-src="/img/Icon_Roue_Crevee.jpg"></img>

	</div>

	<div>



    <ion-list>
		  <label class="item item-input">
		    <textarea placeholder="Commentaires"></textarea>
		  </label>
		</div>
    </ion-list>

	<a href="#/tab/confirmation" class="button button-positive bouton_lancer_alert">
	  Envoyer
	</a>

  </ion-content>
</ion-view>

