<ion-view view-title={{CONNECT_TITLE}} name="connection">
  <ion-content class="padding">
      <div class="block_redirection">
        <div class="message_redirection" ng-if="blockRedirection">
          REDIRIGEEEEEE {{blockRedirection}}
        </div>
      </div>
      <div class="list list-inset">
        <form method="post">
            <label class="item item-input">
                <input type="text" placeholder={{TEXT.CONNECT_PLACEHOLDER_MAIL}} ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder={{TEXT.CONNECT_PLACEHOLDER_PASSWORD}} ng-model="user.password">
            </label>
        </form>
      </div>
      <button class="button button-block button-positive" ng-click="login()">{{TEXT.CONNECT_LOGIN}}</button>
      <button class="button button-block button-positive" ng-click="signin()">{{TEXT.CONNECT_SIGNUP}}</button>
      <div>
        {{message}}
      </div>
  </ion-content>
</ion-view>