<ion-view view-title={{TEXT.VEHICULE_TITLE}}>
  <ion-content>
    <div class="conteneur_loader" ng-if="loadingMesVoitures">
      <div class="image">

      </div>
      <div class="texte">
        {{TEXT.LOADING}}
      </div>
    </div>
    <div class="conteneur_message_erreur" ng-if="erreurMesVoitures">
      <div class="image">

      </div>
      <div class="texte">
        {{TEXT.ERROR_SERVER}}
      </div>
    </div>
    <div class="conteneur_message_pas_de_voitures" ng-if="pasDeVoitures">
      <div class="image">

      </div>
      <div class="texte">
        {{TEXT.VEHICULE_NO_CARS}}
      </div>
    </div>
    <ion-list ng-if="!loadingMesVoitures">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="voiture in mesVoitures" type="item-text-wrap" href="#/tab/vehicule/{{voiture.id}}">
        <img ng-src="{{voiture.face}}">
        <h2>{{voiture.name}}</h2>
        <p>{{voiture.numImatriculation}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item> 
    </ion-list>
    <a class="button icon-left ion-plus-circled button-positive" href="#/tab/ajoutVehicule">{{TEXT.VEHICULE_ADD_ONE}}</a>
  </ion-content>
</ion-view>

