<ion-view view-title="Alert">
  <ion-content>
    <ion-list>
	    <div class="list">
	      <br></br>
		  <label class="item item-input">
		    <input type="text" placeholder="Write plate number here">
		  </label>
		  <!--<label class="item item-input">
		    <input type="text" placeholder="Pays">
		  </label> -->
		</div>
    </ion-list>
 
<br></br>

<center><div class="list_icons_alert">
<button class="mdT mdI1" ng-class="{ active: iconeSelectionne == 1 }" ng-click="selectionerIcone(1)"></button>
<button class="mdT mdI2" ng-class="{ active: iconeSelectionne == 2 }" ng-click="selectionerIcone(2)"></button>
<button class="mdT mdI3" ng-class="{ active: iconeSelectionne == 3 }" ng-click="selectionerIcone(3)"></button>
<br></br>
<button class="mdT mdI4" ng-class="{ active: iconeSelectionne == 4 }" ng-click="selectionerIcone(4)"></button>
<button class="mdT mdI4" ng-class="{ active: iconeSelectionne == 5 }" ng-click="selectionerIcone(5)"></button>
<button class="mdT mdI4" ng-class="{ active: iconeSelectionne == 6 }" ng-click="selectionerIcone(6)"></button>
</div></center>

<br></br>


<!--

	
<button class="mdT mdI1" ></button>


<button class="mdT mdI2" ></button>
<button class="mdT mdI3" ></button>
<button class="mdT mdI4" ></button>

 <input type="checkbox" id="btnControl"/>
<label class="btn" for="btnControl"><img src="/img/Icon_Double_File.jpg" id="btnLeft" /></label>
<label class="btn" for="btnControl"><img src="/img/Icon_Fourriere.jpg" id="btnLeft" /></label>
<label class="btn" for="btnControl"><img src="/img/Icon_no-parking.jpg" id="btnLeft" /></label>
<label class="btn" for="btnControl"><img src="/img/Icon_Phares.jpg" id="btnLeft" /></label>
<label class="btn" for="btnControl"><img src="/img/Icon_Portes_Ouvertes.jpg" id="btnLeft" /></label>
<label class="btn" for="btnControl"><img src="/img/Icon_Roue_Crevee.jpg" id="btnLeft" /></label>

	<div class="list_icons_alert"></div> -->




    <ion-list>
		  <label class="item item-input">
		    <textarea placeholder="Add a comment"></textarea>
		  </label>
		</div>
    </ion-list>
    <br></br>
	<a href="#/tab/confirmation" class="button button-positive bouton_lancer_alert">
	  Send
	</a>

  </ion-content>
</ion-view>