<ion-view view-title="Historique">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">18/09/2015 à 18:44</div>
      <div class="item item-body">
        <div>
          <b>mportell</b> a indiqué que votre véhicule <b>AB-725-FR</b> est garé en double file devant sa voiture. Veuillez la retirer.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">17/09/2015 à 12:53</div>
      <div class="item item-body">
        <div>
          <b>quevalje</b> a indiqué que les phares de votre véhicule <b>MP-184-ES</b> sont restés allumés.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">12/09/2015 à 15:03</div>
      <div class="item item-body">
        <div>
          <b>L'administration des études de l'UTC</b> vous demande de retirer votre véhicule <b>OR-562-FR</b> du parking de BF.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

