<ion-view view-title={{TEXT.ALERT_TITLE}}>
  <ion-content>
    <ion-list>
	    <div class="list">
	      <br></br>
		  <label class="item item-input">
		    <input type="text" placeholder={{TEXT.ALERT_ENTER_NUM_PLAQUE}}>
		  </label>
		  <!--<label class="item item-input">
		    <input type="text" placeholder="Pays">
		  </label> -->
		</div>
    </ion-list>
 
<br></br>

<center><div class="list_icons_alert">
<button class="mdT mdI1" ng-class="{ active: iconeSelectionne == 1 }" ng-click="selectionerIcone(1)"></button>
<button class="mdT mdI2" ng-class="{ active: iconeSelectionne == 2 }" ng-click="selectionerIcone(2)"></button>
<button class="mdT mdI3" ng-class="{ active: iconeSelectionne == 3 }" ng-click="selectionerIcone(3)"></button>
<br></br>
<button class="mdT mdI4" ng-class="{ active: iconeSelectionne == 4 }" ng-click="selectionerIcone(4)"></button>
<button class="mdT mdI4" ng-class="{ active: iconeSelectionne == 5 }" ng-click="selectionerIcone(5)"></button>
<button class="mdT mdI4" ng-class="{ active: iconeSelectionne == 6 }" ng-click="selectionerIcone(6)"></button>
</div></center>

<br></br>


<ion-list>
	  <label class="item item-input">
	    <textarea placeholder={{TEXT.ALERT_TEXT_COMMENT}}></textarea>
	  </label>
	</div>
</ion-list>
<br></br>
<a href="#/tab/confirmation" class="button button-positive bouton_lancer_alert">
  {{TEXT.ALERT_BOUTON_ENVOYER}}
</a>

  </ion-content>
</ion-view>