/* Empty. Add your own CSS if you like */

/* css alert */
.bouton_lancer_alert {
	margin: auto;
	margin-top: 10px;
	width: 100%;
}

.list_icons_alert{

	min-height: 50px; 
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}


    .mdT {
        width:85px;
        height:85px;
        border: 3px solid #FFF;
        border-radius: 20px;
        box-shadow: 0 0 2px #888;
        outline:0;
        background-position: center;
        margin-right: 10px



    }
    .mdT.active {
        width:85px;
        height:85px;
        border: 3px solid #2E9AFE;
        border-radius: 20px;
        box-shadow: 0 0 2px #888;
        outline:0;
        background-position: center;
        margin-right: 10px
    }

    .mdI1       {   background-image:url('/img/Icon_Double_File.jpg');     }
    .mdI1:active {   background-image:url('/img/Icon_Double_File - copie.jpg');   }
    .mdI2       {   background-image:url('/img/Icon_Phares.jpg');     }
    .mdI2:active {   background-image:url('/img/Icon_Phares.jpg');   }
    .mdI3       {   background-image:url('/img/Icon_Portes_Ouvertes.jpg');     }
    .mdI3:active {   background-image:url('/img/Icon_Portes_Ouvertes.jpg');   }
    .mdI4       {   background-image:url('/img/Icon_Roue_Crevee.jpg');     }
    .mdI4:active {   background-image:url('/img/Icon_Roue_Crevee.jpg');   } 


.conteneur_icon_alert{
	border: 6px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 0 2px #888;
    height: 90px;
    width: 90px;
	display:inline-block;
}


.icon_alert {
  border: 3px solid #FFF;
  border-radius: 20px;
  box-shadow: 0 0 2px #888;
  height: 75px;
  width: 75px;
}

/* css alert */

.bouton_confirmation_alert {
	margin: auto;
	margin-top: 10px;
	width: 49%;
}

.list_confirmation_alert {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.icon1{
	background-image: url("/img/ionic.png");
}
